<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>items</key>
        <array>
            <dict>
                <key>assets</key>
                <array>
                    <dict>
                        <key>kind</key>
                        <string>software-package</string>
                        <key>url</key>
                        <string>http://work.locojoy.com/updatafile/apps/t2_3_15.ipa</string>
                    </dict>
                    <dict>
                        <key>kind</key>
                        <string>display-image</string>
                        <key>needs-shine</key>
                        <true/>
                        <key>url</key>
                        <string>http://work.locojoy.com:8080/Yunmai/images/yunmai.png</string>
                    </dict>
                </array><key>metadata</key>
                <dict>
                    <key>bundle-identifier</key>
                    <string>com.locojoy.yunmai</string>
                    <key>bundle-version</key>
                    <string>1.0.1</string>
                    <key>kind</key>
                    <string>software</string>
                    <key>subtitle</key>
                    <string>云脉</string>
                    <key>title</key>
                    <string>云脉1.0.1版本</string>
                </dict>
            </dict>
        </array>
    </dict>
</plist>